body header {
  width: 100%;
  height: 10em;
  background-color: black;
  border-bottom: 2px solid white;
}

.werbung {
  width: 100%;
  height: 10em;
  background-color: black;
  border-bottom: 2px solid white;
}
.breadcrumb {
  width: 100%;
  height: 2em;
  background-color: black;
  border-bottom: 2px solid white;
}

.article {
  width: 100%;
  height: 40em;
  background-color: black;
  border-bottom: 2px solid white;
}
.left-aside {
  width: 100%;
  height: 20em;
  background-color: rgb(179, 179, 179);
  border-bottom: 2px solid white;
}

footer {
  width: 100%;
  height: 5em;
  background-color: black;
  border-bottom: 2px solid white;
}

@media screen and (min-width: 1600px) {
  .werbung {
    width: 80%;
    height: 10em;
    margin: auto;
  }
  .breadcrumb {
    width: 75%;
    height: 2em;
    margin: auto;
  }
  .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .top_article {
    width: 50%;
    height: 80em;
  }
  .left-aside {
    width: 25%;
    height: 80em;
  }
  .bottom_article {
    margin: auto;
    width: 100%;
    height: 80em;
  }
}
