@import url("https://fonts.googleapis.com/css?family=Lato");
html {
  background-color: rgb(41, 41, 41);
}
body {
  margin: auto;
  font-family: "Lato", sans-serif;
  color: rgb(124, 124, 124);
  background-color: white;
}

/*header with search****************************/
body header {
  max-width: 100%;
  height: 50px;
  background-color: white;
}
.inputsearch {
  background-color: rgba(228, 224, 224, 0.815);
  float: right;
  margin: 10px 16px 0px 0px;
  border: 1px solid gainsboro;
  border-radius: 8px;
}
.innerbox {
  margin: 0px 16px 0px 16px;
}
.ul-nav {
  visibility: hidden;
}
/*stage****************************************/
.stage {
  background-color: #199bf1;
  color: white;
  padding-bottom: 30px;
  font-size: 14px;
  margin-bottom: 26px;
}
.stageimage {
  width: 100%;
}
.image {
  max-width: 100%;
}
.headline {
  font-size: 22px;
}
.headline + p {
  font-size: 16px;
}
.button {
  margin-top: 8px;
  background-color: white;
  border: solid white;
  color: #34a7f3;
  padding-right: 80px;
  padding-bottom: 10px;
  font-size: 18px;
  padding-top: 3px;
}

/*breadcrumb**************************************/
.breadcrumb {
  margin-top: 20px;
}
.ul-breadcrumb {
  list-style: none;
  background-color: white;
  padding-left: 0px;
}
.ul-breadcrumb li {
  float: left;
}
.ul-breadcrumb li a {
  text-decoration: none;
  padding-left: 15px;
  font-size: 14px;
}
.bluelist {
  color: #34a7f3;
}
.greylist {
  color: rgb(168, 168, 168);
}

/*general information for the sections**************/
main {
  clear: left;
}
.top-article {
  max-width: 100%;
  background-color: white;
  padding-bottom: 1px;
}
.headline1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.headline-section {
  font-size: 26px;
  font-weight: 300;
}
.headline-imagesection {
  font-weight: 300;
}
.content-section {
  font-weight: 400;
  color: rgb(75, 75, 75);
}
/*videosection************************************/
.videosection {
  margin-top: 40px;
}
.headline-section {
  font-size: 27px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: rgb(124, 124, 124);
}
.video {
  width: 100%;
}

/*formatsection***********************************/
.formatsection {
  /*max-width: 100%;
  height: 700px;
  margin-top: -26px;*/
  padding-top: 5px;
  color: rgb(75, 75, 75);
  background-color: white;
}
.p-formatsection {
  font-size: 26px;
}
.ul li {
  padding-bottom: 10px;
  position: relative;
  left: -15px;
}
.ul-link {
  padding-bottom: 10px;
  position: relative;
  left: -15px;
}

.ul-link li a {
  color: #34a7f3;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: 700;
}

/*table*******************************************/
.table {
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid silver;
  text-align: left;
}
.table-1column {
  background-color: #34a7f3;
  border: 1px solid silver;
  color: white;
  padding: 10px 0 10px 6px;
}
tr td {
  border: 1px solid silver;
  padding: 10px 0 10px 6px;
}
.citation {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 26px;
  color: rgb(168, 168, 168);
}

/*form******************************************/
.form2 {
  display: none;
}
.form1 {
  max-width: 100%;
  color: rgb(90, 90, 90);
  background-color: white;
  margin-top: 55px;
}
.form1 > input[type="text"] {
  width: 100%;
  height: 30px;
}
.form1 > input[type="number"] {
  width: 100%;
  height: 30px;
}
.form1 > input[type="email"] {
  width: 100%;
  height: 30px;
}
.form1 textarea {
  width: 100%;
  height: 60px;
}
.headline-form {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 26px;
  color: rgb(124, 124, 124);
}
.headline-form textarea {
  width: 100%;
}
select {
  width: 100%;
  padding: 10px 0px 10px 0px;
}
hr {
  margin-top: 20px;
  color: rgb(211, 211, 211);
}
.sendbutton {
  margin-top: 20px;
  color: white;
  background-color: #34a7f3;
  padding: 5px 7.5px 5px 7.5px;
  border: 1px solid gainsboro;
}
.cancelbutton {
  margin: 20px 0 0 5px;
  color: white;
  background-color: #c3c3c3;
  padding: 5px 7.5px 5px 7.5px;
  border: 1px solid gainsboro;
}
.buttoninformation {
  margin-top: 1px;
}

/*aside contactinformation***********************/
.left-aside {
  max-width: 100%;
  background-color: white;
  color: rgb(90, 90, 90);
}
.headline-contactsection {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: rgb(124, 124, 124);
}
.contact-upperline {
  margin-bottom: 20px;
  color: rgb(211, 211, 211);
}
.contactimage {
  float: left;
}
.contactinformation {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: rgb(90, 90, 90);
  line-height: 1.35;
  margin-top: 0px;
}
.contact-teaser {
  float: left;
}

.contactcontainer {
  width: 55%;
  float: right;
  margin-bottom: 20px;
}

.contactname {
  font-size: 15px;
}
.telefonnumber {
  font-size: 15px;
  margin: 0 0 4px 0;
}
.link-email {
  text-decoration: none;
  color: #34a7f3;
}
.contact-underline {
  clear: right;
  margin-top: 40px;
  color: rgb(211, 211, 211);
}
/*teaserrow***************************************/
.teaser {
  max-width: 100%;
  color: rgb(90, 90, 90);
  background-color: white;
}

/*first teaser*************************************/
.greybox {
  width: 100%;
  padding-bottom: 24px;
  background-color: rgb(246, 246, 246);
}
.teaserimage {
  width: 100%;
  margin-top: 28px;
  border: 1px solid rgb(168, 168, 168);
}
.headline-teaser {
  font-weight: 300;
  font-size: 24px;
  color: rgb(124, 124, 124);
}
.headline-teaser + p {
  font-weight: 700;
  color: rgb(109, 109, 109);
}
.link {
  text-decoration: none;
  color: #34a7f3;
}

/*secondteaser**************************************/
.secondteaser {
  margin-top: 50px;
}
.headline-2teaser {
  font-weight: 300;
  font-size: 20px;
  color: rgb(124, 124, 124);
  margin-bottom: 6px;
}
.secondteaser-image {
  width: 100%;
}
.headline-testvideo {
  font-weight: 300;
  font-size: 20px;
  color: rgb(124, 124, 124);
  margin-bottom: 4px;
}
.videolength {
  float: right;
  color: #cacaca;
}
.teaser-underline {
  margin-top: 80px;
  clear: right;
  color: #cacaca;
}

/*thirdteaser***************************************/
.headline-3teaser {
  font-weight: 300;
  color: rgb(124, 124, 124);
  font-size: 28px;
}
.headline-testvid {
  font-weight: 300;
  font-size: 20px;
  color: rgb(124, 124, 124);
  margin-bottom: 4px;
}
.videocaption {
  margin-top: 36px;
}
.videocaption + h3 {
  margin-top: 36px;
  font-weight: 300;
  font-size: 20px;
  color: rgb(124, 124, 124);
}

/*documentlist at the bottom********************************************/
.headline-documentlist {
  font-weight: 300;
  margin-bottom: 5px;
}
/*footer********************************************/
footer {
  max-width: 100%;
  height: 120px;
  background-color: rgba(68, 70, 82, 0.863);
  color: white;
  margin-top: 90px;
}
footer h3 {
  font-weight: 100;
  font-size: 15px;
  margin-top: 0px;
  padding-top: 20px;
}
footer a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding-bottom: 10px;
}
.links {
  float: left;
}

@media screen and (min-width: 480px) {
  /*navigation****************************/
  .ul-nav {
    visibility: visible;
    padding-left: 16px;
  }
  .ul-nav li a {
    color: #34a7f3;
    text-decoration: none;
    font-size: 20px;
  }
  .ul-nav li a:hover {
    color: #2a82bd;
    text-decoration: none;
  }
  .ul-nav li {
    list-style-type: none;
    padding: 5px 7.5px 5px 5px;
    float: left;
  }
  #formattypes {
    clear: left;
  }
  /*stage****************************/
  .stage {
    clear: left;
  }
  .headline1 {
    font-size: 34px;
    float: left;
  }
  /*sections****************************/
  .headline-imagesection {
    font-size: 26px;
  }
  .image-imagesection {
    width: 45%;
    float: left;
    padding: 0 26px 0px 0;
  }
  .video-videosection {
    width: 100%;
  }
  /*format types****************************/
  .buttoninformation {
    float: right;
  }
  .image-documentlist {
    width: 70%;
    margin: auto;
  }
  .headline-testvideo {
    margin-top: 44px;
  }
  .video {
    width: 100%;
  }
  /*Contactcontainer****************************/
  .contactcontainer {
    width: 70%;
  }
  /*Contactcontainer****************************/
  .image-documentlist {
    margin: 40px 0 20px 0;
  }
  /*Documentlist at the end**********************/
  .documentlist {
    margin-top: 46px;
  }
}

@media screen and (min-width: 600px) {
  .image-imagesection {
    margin: 6px 10px 20px 0px;
  }
  .buttoninformation {
    margin-top: 26px;
  }
  .contactcontainer {
    width: 74%;
  }
  .teaserimage {
    width: 45%;
  }
  .teasercontainer {
    float: right;
    width: 45%;
  }
  .headline-teaser + p {
    font-size: 14px;
    font-weight: 700;
  }
  .image-documentlist {
    width: 60%;
  }
  .link {
    font-weight: 700;
  }
  .container {
  }
  .teaser2-container1 {
    width: 47.5%;
    float: left;
  }
  .teaser2-container {
    width: 47.5%;
    float: right;
  }
  .headline-testvideo {
    margin-bottom: 6px;
    margin-top: 18px;
  }

  .teaser-underline {
    clear: both;
  }
  .wrapper {
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-gap: 26px;
  }
  .videocaption {
    margin-top: 42px;
  }
  .documentlist {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  /*stage***********************************/
  .stageimage {
    height: 270px;
  }
  .stageimage-container {
    width: 100%;
    position: relative;
  }
  .stage {
    background-color: white;
    margin-bottom: 0px;
    margin-top: 60px;
    height: 240px;
  }
  .bluebox {
    padding: 10px 0px 20px 0px;
    background-color: #199bf1;
    width: 300px;
    height: 130px;
    position: absolute;
    right: 40px;
    bottom: 30px;
  }
  .innerbluebox {
    padding-left: 45px;
  }
  .imagetext {
    margin-bottom: 0;
  }
  .button {
    margin-top: 8px;
    padding: 0px 90px 0px 0px;
    font-size: 18px;
  }
  /*main***********************************/
  main {
    margin-top: 60px;
  }
  .citation {
    margin: 40px 0 0 40px;
  }
  /*form***********************************/
  .form1 {
    display: none;
  }
  .form2 {
    display: block;
  }
  .gridform {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .form2 {
    max-width: 100%;
    color: rgb(90, 90, 90);
    background-color: white;
    margin-top: 55px;
  }
  .leftformpart p {
    margin: 0 0 35px 0;
  }
  .rightformpart > input[type="text"] {
    width: 100%;
    height: 30px;
    margin-top: 20px;
  }
  .rightformpart > input[type="number"] {
    width: 100%;
    height: 30px;
    margin-top: 20px;
  }
  .rightformpart > input[type="email"] {
    width: 100%;
    height: 30px;
    margin-top: 20px;
  }
  .rightformpart textarea {
    width: 100%;
    height: 60px;
    margin-top: 20px;
  }
  .headline-form {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: rgb(124, 124, 124);
  }
  .headline-form textarea {
    width: 100%;
  }
  select {
    width: 100%;
  }
  /*documenttypes***********************************/
  .documenttypes {
    margin-bottom: 0px;
  }
  .headline-documenttypes {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(124, 124, 124);
  }
  .doctype img {
    width: 7.5%;
    float: left;
    margin-right: 10px;
  }
  .doctype > h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #34a7f3;
    font-weight: 300;
    font-size: 15px;
  }
  .doctype > p {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #cacaca;
    font-weight: 300;
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  /*navigation*/
  .ul-nav {
    margin: 0 0 0 0;
  }
  /*stage*/
  .stage {
    margin-top: 50px;
  }
  .stageimage {
    height: 300px;
  }
  .bluebox {
    position: absolute;
    right: 40px;
    bottom: 30px;
  }
  .breadcrumb {
    margin-top: 60px;
  }
  /*main*/
  .headline1 {
    font-size: 42px;
  }
  /*contactinformation*/
  .contactimage {
    width: 30%;
  }
  .contactcontainer {
    width: 60%;
  }
  /*wrapper for article and aside*/
  .wrapperfor1024px {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  /*documenttypes list*/
  .doctype img {
    width: 14%;
    float: left;
    margin-right: 10px;
  }
  /*teaser*/
  .wrapper {
    display: grid;
    grid-template: auto/1fr 1fr 1fr;
    grid-gap: 26px;
  }
  .grid-item3 {
    grid-column: 2;
    grid-row: 1;
  }
  .grid-item4 {
    grid-column: 3;
    grid-row: 1;
  }
  .grid-item2 {
    grid-column: 1;
  }
}

@media screen and (min-width: 1600px) {
  .stageimage {
    height: 400px;
  }
  .breadcrumb {
    margin-top: 160px;
  }
  .wholecontent {
    width: 1280px;
    margin: auto;
  }
  .greybox {
    z-index: 20;
  }
  .bluebox {
    position: absolute;
    right: 80px;
    bottom: 50px;
  }
  .bluebox {
    padding: 100px 0px 20px 100px;
    background-color: #199bf1;
    width: 300px;
    height: 130px;
  }
  .innerbluebox {
    position: absolute;
    right: 160px;
    bottom: 100px;
  }
}
