@import url("https://fonts.googleapis.com/css?family=Lato");
html {
  background-color: rgb(41, 41, 41);
}
body {
  margin: auto;
  font-family: "Lato", sans-serif;
  color: rgb(124, 124, 124);
  background-color: white;
}

/*header with search****************************/
body header {
  max-width: 100%;
  height: 50px;
  background-color: white;
}
.inputsearch {
  background-color: rgba(228, 224, 224, 0.815);
  float: right;
  margin: 10px 16px 0px 0px;
  border: 1px solid gainsboro;
  border-radius: 8px;
}
.innerbox {
  margin: 0px 16px;
}

/*stage****************************************/
.stage {
  background-color: #199bf1;
  color: white;
  padding-bottom: 30px;
  font-size: 14px;
  margin-bottom: 26px;
  position: relative;
}
.stage__image {
  width: 100%;
}
.stage__bluebox {
  margin: 0 16px;
}
.image {
  max-width: 100%;
}
.stage__headline {
  font-size: 22px;
}
.stage__headline + p {
  font-size: 16px;
}
.stage__button {
  margin-top: 8px;
  background-color: white;
  border: solid white;
  color: #34a7f3;
  padding-right: 80px;
  padding-bottom: 10px;
  font-size: 18px;
  padding-top: 3px;
}
nav ul {
  display: none;
}
/*breadcrumb**************************************/
.breadcrumb {
  margin-top: 20px;
}
.breadcrumb__ul {
  list-style: none;
  background-color: white;
  padding-left: 0px;
}
.breadcrumb__ul li {
  float: left;
}
.breadcrumb__ul li a {
  text-decoration: none;
  padding-left: 15px;
  font-size: 14px;
}
.breadcrumb__li {
  color: #34a7f3;
}

/*general information for the sections**************/
main {
  margin-top: 80px;
  clear: left;
}
article {
  max-width: 100%;
  background-color: white;
  padding-bottom: 1px;
  margin: 0 16px;
}
.article__headline {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.videosection__headline {
  font-size: 26px;
  font-weight: 300;
}
.imagesection__headline {
  font-weight: 300;
}
.imagesection__text,
.videosection__text {
  font-weight: 400;
  color: rgb(75, 75, 75);
}
/*videosection************************************/
.videosection {
  margin-top: 40px;
}
.videosection__headline {
  font-size: 27px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: rgb(124, 124, 124);
}
.videosection__video {
  width: 100%;
}

/*formatsection***********************************/
.formatsection {
  /*max-width: 100%;
  height: 700px;
  margin-top: -26px;*/
  padding-top: 5px;
  color: rgb(75, 75, 75);
  background-color: white;
}
.p-formatsection {
  font-size: 26px;
}
.formatsection__ul li {
  padding-bottom: 10px;
  position: relative;
  left: -15px;
}
.formatsection__link {
  padding-bottom: 10px;
  position: relative;
  left: -15px;
}

.formatsection__link li a {
  color: #34a7f3;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: 700;
}

/*table*******************************************/
.formatsection__table {
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid silver;
  text-align: left;
}
.formatsection__column {
  background-color: #34a7f3;
  border: 1px solid silver;
  color: white;
  padding: 10px 0 10px 6px;
}
tr td {
  border: 1px solid silver;
  padding: 10px 0 10px 6px;
}
.formatsection__citation {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 26px;
  color: rgb(168, 168, 168);
}

/*form******************************************/
form {
  max-width: 100%;
  color: rgb(90, 90, 90);
  background-color: white;
  margin-top: 55px;
}
form > input[type="text"] {
  width: 100%;
  height: 30px;
}
form > input[type="number"] {
  width: 100%;
  height: 30px;
}
form > input[type="email"] {
  width: 100%;
  height: 30px;
}
form textarea {
  width: 100%;
  height: 60px;
}
.form__headline {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 26px;
  color: rgb(124, 124, 124);
}
.form__headline textarea {
  width: 100%;
}
select {
  width: 100%;
  padding: 10px 0px 10px 0px;
}
hr {
  margin-top: 20px;
  color: rgb(211, 211, 211);
}
.send {
  margin-top: 20px;
  background-color: #34a7f3;
}
.cancel {
  margin: 20px 0 0 5px;
  background-color: #c3c3c3;
}
.form__button {
  color: white;
  padding: 5px 7.5px 5px 7.5px;
  border: 1px solid gainsboro;
}
.form__p {
  margin-top: 1px;
}

/*aside contactinformation***********************/
aside {
  max-width: 100%;
  background-color: white;
  color: rgb(90, 90, 90);
}
.contact {
  margin: 0 16px;
  float: left;
}
.contact__headline {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: rgb(124, 124, 124);
}
.contact__hr--top {
  margin-bottom: 20px;
  color: rgb(211, 211, 211);
}
.contact__image {
  width: 40%;
  float: left;
}
.contact__p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: rgb(90, 90, 90);
  line-height: 1.35;
  margin: 0 0 2px 0;
}
.contact__container {
  width: 55%;
  float: right;
  margin-bottom: 20px;
}
.contact__name {
  font-size: 15px;
}
.contact__telefonnumber {
  font-size: 15px;
  margin: 0 0 4px 0;
}
.contact__email {
  text-decoration: none;
  color: #34a7f3;
}
.contact__hr--bottom {
  clear: right;
  margin-top: 40px;
  color: rgb(211, 211, 211);
}
.documenttypes {
  display: none;
}
/*teaserrow***************************************/

/*first teaser*************************************/
.firstteaser {
  max-width: 100%;
  color: rgb(90, 90, 90);
  background-color: white;
  margin: 0 16px;
}
.greybox {
  width: 100%;
  padding-bottom: 24px;
  background-color: rgb(246, 246, 246);
}
.firstteaser__image {
  width: 100%;
  margin-top: 28px;
  border: 1px solid rgb(168, 168, 168);
}
.firstteaser__headline {
  font-weight: 300;
  font-size: 24px;
  color: rgb(124, 124, 124);
}
.firstteaser__headline + p {
  font-weight: 700;
  color: rgb(109, 109, 109);
}
.firstteaser__link {
  text-decoration: none;
  color: #34a7f3;
}

/*secondteaser**************************************/
.secondteaser {
  margin: 50px 16px 0 16px;
}
.secondteaser__headline {
  font-weight: 300;
  font-size: 20px;
  color: rgb(124, 124, 124);
  margin-bottom: 6px;
}
.videolength {
  float: right;
  color: #cacaca;
}
.secondteaser__hr {
  margin-top: 80px;
  clear: right;
  color: #cacaca;
}

/*thirdteaser***************************************/
.thirdteaser {
  margin: 0 16px;
}
.thirdteaser__headline {
  font-weight: 300;
  color: rgb(124, 124, 124);
  font-size: 28px;
}
.thirdteaser__h3 {
  font-weight: 300;
  font-size: 20px;
  color: rgb(124, 124, 124);
  margin-bottom: 4px;
}
.thirdteaser__p p {
  margin-top: 36px;
}

/*footer********************************************/
footer {
  max-width: 100%;
  height: 120px;
  background-color: rgba(68, 70, 82, 0.863);
  color: white;
  margin-top: 90px;
  padding: 0 16px;
}
footer h3 {
  font-weight: 100;
  font-size: 15px;
  margin-top: 0px;
  padding-top: 20px;
}
footer a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding-bottom: 10px;
}
.links {
  float: left;
}

@media screen and (min-width: 480px) {
  /*navigation****************************/
  nav ul {
    padding-left: 16px;
    display: block;
  }
  nav ul li a {
    color: #34a7f3;
    text-decoration: none;
    font-size: 20px;
  }
  nav ul li a:hover {
    color: #2a82bd;
    text-decoration: none;
  }
  nav ul li {
    list-style-type: none;
    padding: 5px 7.5px 5px 5px;
    float: left;
  }
  #formattypes {
    clear: left;
  }
  /*stage****************************/
  .stage {
    clear: left;
  }
  .article__headline {
    font-size: 34px;
  }
  /*sections****************************/
  .imagesection__headline {
    font-size: 26px;
  }
  .imagesection__image {
    width: 45%;
    float: left;
    padding: 0 26px 0px 0;
  }
  .video-videosection {
    width: 100%;
  }
  /*format types****************************/

  .form__p {
    float: right;
  }
  .image-documentlist {
    width: 70%;
    margin: auto;
  }
  .secondteaser__container__right__headline {
    margin-top: 44px;
  }
  .video {
    width: 100%;
  }
  /*Contactcontainer****************************/
  .contact__image {
    width: 30%;
  }
  .contact__container {
    width: 60%;
  }
  /*documenttypes*/
  .documenttypes {
    display: block;
  }
  /*documentlist****************************/
  .image-documentlist {
    margin: 40px 0 20px 0;
  }
  /*Documentlist at the end**********************/
  .thirdteaser__documentlist {
    margin-top: 46px;
  }
}

@media screen and (min-width: 600px) {
  .imagesection__image {
    margin: 6px 10px 20px 0px;
  }

  .form__p {
    margin-top: 26px;
  }
  .contact__image {
    width: 20%;
  }
  .contact__container {
    width: 70%;
  }
  .firstteaser__image {
    width: 45%;
  }
  .firstteaser__container {
    float: right;
    width: 45%;
  }
  .firstteaser__headline + p {
    font-size: 14px;
    font-weight: 700;
  }
  .image-documentlist {
    width: 60%;
  }
  .firstteaser__link {
    font-weight: 700;
  }
  .secondteaser__container--left {
    width: 47.5%;
    float: left;
  }
  .secondteaser__container--right {
    width: 47.5%;
    float: right;
  }
  .secondteaser__container__right__headline {
    margin-bottom: 6px;
    margin-top: 18px;
  }

  .secondteaser__hr {
    clear: both;
  }

  .thirdteaser__wrapper {
    display: grid;
    grid-template: auto/1fr 1fr;
    grid-gap: 26px;
  }
  .thirdteaser__p p {
    margin-top: 42px;
  }
  .thirdteaser__documentlist {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  /*stage***********************************/
  .stage__image {
    height: 270px;
  }
  .stage {
    background-color: white;
    margin-bottom: 0px;
    margin-top: 60px;
    height: 240px;
  }
  .stage__bluebox {
    padding: 10px 0px 20px 16px;
    background-color: #199bf1;
    width: 300px;
    height: 130px;
    position: absolute;
    right: 40px;
    bottom: 30px;
  }
  .stage__p {
    margin-bottom: 0;
  }
  .stage__button {
    margin-top: 8px;
    padding: 0px 90px 0px 0px;
    font-size: 18px;
  }
  /*main***********************************/
  main {
    margin-top: 60px;
  }
  .formatsection__citation {
    margin: 40px 0 0 40px;
  }
  .contact__image {
    width: 15%;
  }
  .contact__container {
    width: 80%;
  }
  /*form***********************************/
  .gridform {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .form2 {
    max-width: 100%;
    color: rgb(90, 90, 90);
    background-color: white;
    margin-top: 55px;
  }
  .leftformpart p {
    margin: 0 0 35px 0;
  }
  .rightformpart > input[type="text"] {
    width: 100%;
    height: 30px;
    margin-top: 20px;
  }
  .rightformpart > input[type="number"] {
    width: 100%;
    height: 30px;
    margin-top: 20px;
  }
  .rightformpart > input[type="email"] {
    width: 100%;
    height: 30px;
    margin-top: 20px;
  }
  .rightformpart textarea {
    width: 100%;
    height: 60px;
    margin-top: 20px;
  }
  .form__headline {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: rgb(124, 124, 124);
  }
  .form__headline textarea {
    width: 100%;
  }
  select {
    width: 100%;
  }
  /*documenttypes***********************************/
  .documenttypes {
    margin: 0px 16px;
  }
  .documenttypes__headline {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(124, 124, 124);
  }
  .thirdteaser__doctype img {
    width: 7.5%;
    float: left;
    margin-right: 10px;
  }
  .thirdteaser__doctype > h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #34a7f3;
    font-weight: 300;
    font-size: 15px;
  }
  .thirdteaser__doctype > p {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #cacaca;
    font-weight: 300;
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  /*navigation*/
  nav ul {
    margin: 0 0 0 0;
  }
  /*stage*/
  .stage {
    margin-top: 50px;
  }
  .stage__image {
    height: 300px;
  }
  .stage__bluebox {
    position: absolute;
    right: 40px;
    bottom: 30px;
    margin: 0 16px;
  }
  .breadcrumb {
    margin-top: 60px;
  }
  /*main*/
  .article__headline {
    font-size: 42px;
  }
  /*contactinformation*/
  .contact__image {
    width: 30%;
  }
  .contact__container {
    width: 60%;
  }
  /*wrapper for article and aside*/
  .wrapperfor1024px {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  /*documenttypes list*/
  .thirdteaser__doctype img {
    width: 14%;
    float: left;
    margin-right: 10px;
  }
  /*teaser*/
  .thirdteaser__wrapper {
    display: grid;
    grid-template: auto/1fr 1fr 1fr;
    grid-gap: 26px;
  }
  .thirdteaser__text {
    grid-column: 2;
    grid-row: 1;
  }
  .thirdteaser__documentlist {
    grid-column: 3;
    grid-row: 1;
  }
  .thirdteaser__p {
    grid-column: 1;
  }
  /*footer*/
  footer {
    height: 120px;
  }
}

@media screen and (min-width: 1600px) {
  .stage__image {
    height: 400px;
  }
  .breadcrumb {
    margin-top: 160px;
  }
  .wholecontent {
    width: 1280px;
    margin: auto;
  }
  .greybox {
    z-index: 20;
  }
  .stage__bluebox {
    position: absolute;
    right: 80px;
    top: 100px;
  }
  .stage__bluebox {
    padding: 100px 0px 20px 100px;
    background-color: #199bf1;
    width: 300px;
    height: 130px;
  }
}
